.main {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .atendenteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--blue-fazag);
  }
  .leadsBoxContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}