.atendenteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--blue-fazag);
    .input {
        text-align: center;
        margin-top: 16px;
        padding: 1rem;
        border: none;
        border-bottom: solid 1px var(--blue-fazag);
        font-size: 20px;
        color: var(--blue-fazag);
    }
}

.boxContainer {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--yellow-fazag);
    border-radius: 8px;
    width: 500px;
    padding: 1rem;
    color: var(--blue-fazag);
    .nomeContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        .nome{
            font-weight: bold;
        }
    }
    .circleContacted{
        cursor: pointer;
    }
    .whatsapp{
        background-color: var(--blue-fazag);
        border-radius: 4px;
        padding: .2rem;
    }
}