
.atendenteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--blue-fazag);
    .input {
        text-align: center;
        margin-top: 16px;
        padding: 1rem;
        border: none;
        border-bottom: solid 1px var(--blue-fazag);
        font-size: 20px;
        color: var(--blue-fazag);
    }
}

